$link_height: 30px;

.pageNavigationContainer {
  .enableNavContainer {
    background-color: '[theme: neutralLighter, default: #f4f4f4]';
  }
  .navGroupContent {
    .navLink {
      height: $link_height;
    }
    .navChevronButton {
      height: $link_height;
    }
    .navChevronIcon {
      height: $link_height;
      line-height: $link_height;
    }
  }

  .navEditInnerContainer {
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
  }

  .navEditLevel {
    margin-left: 20px;
  }

  .navEditPageNavField {
    font-size: 18px;
    font-weight: 700;
  }

  .navEditItemRow {
    background: #eee;
    border-radius: 2px;
    margin: 5px 0;
    padding: 5px 10px;
  }

  .navEditItemText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .navEditCommandBarRoot {
    padding: 0;
    height: 24px;
    background-color: transparent;

    button[class*="ms-Button--commandBar"] {
      background-color: transparent;
      border-radius: 2px;
      min-width: 30px;

      &[class*="is-expanded"], &:hover, &:hover i {
        background-color: #fff;
      }
    }
  }
}
