$link_height: 30px;

.pageNavigationContainer {
  .enableNavContainer {
    background-color: '[theme: neutralLighter, default: #f4f4f4]';
  }
  .navGroupContent {
    .navLink {
      height: $link_height;
    }
    .navChevronButton {
      height: $link_height;
    }
    .navChevronIcon {
      height: $link_height;
      line-height: $link_height;
    }
  }
}

.editPanelContainer {
  padding: 15px;
}
