$link_height: 30px;
$scroll_area_max_height: 450px;

.pageNavigationContainer {

  /* Setup Mode Styles */
  .enableNavContainer {
    background-color: '[theme: neutralLighterAlt, default: #f8f8f8]';
  }

  /* View Mode Styles */
  .navRoot {
    overflow-y: visible;
  }
  .navGroup > button {
    font-size: 24px;
  }
  .navGroupContent {
    margin-bottom: 0;
    .navLink {
      height: $link_height;
    }
    .navChevronButton {
      height: $link_height;
    }
    .navChevronIcon {
      height: $link_height;
      line-height: $link_height;
    }

    & > ul {
      & > li > div [class*="ms-Nav-linkText"] {
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }
  .editButtonContainer {
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 1;
  }

  /* Edit Mode Styles */
  .navEditOuterContainer {
    margin-top: 10px;
  }

  .navEditInnerContainer {
    max-height: $scroll_area_max_height;
    overflow: auto;
    padding-right: 5px;
  }

  .navEditLevel {
    margin-left: 20px;
  }

  .navEditPageNavField {
    font-size: 16px;
  }

  .navEditItemRow {
    background-color: '[theme: neutralLighterAlt, default: #f8f8f8]';
    border-radius: 2px;
    padding: 3px 8px;
    margin-bottom: 5px;
  }

  .navEditItemText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .navEditCommandBarRoot {
    padding: 0;
    height: 24px;
    background-color: transparent;

    button[class*="ms-Button--commandBar"] {
      background-color: transparent;
      border-radius: 2px;
      min-width: 30px;

      &[class*="is-expanded"], &:hover, &:hover i {
        background-color: #fff;
      }
    }
  }

}
